body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 8px;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-info img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.progress-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

.progress-bar {
  flex: 1;
  height: 5px;
  background-color: #e0e0e0;
  border-radius: 5px;
  margin: 0 10px;
}

.progress {
  width: 70%;
  /* Ajustar */
  height: 100%;
  background: linear-gradient(90deg,
      #2daa6e 0%,
      #2daaaa 33.33%,
      #856ccf 66.67%,
      #d658b3 100%);
  border-radius: 5px;
}

.history {
  padding: 20px;
  border-radius: 10px;
}

.history h3,
.history p {
  margin-bottom: 10px;
}

.history ul {
  list-style: none;
}

.history li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
  font-size: 0.9em;
}

.stamp-icon {
  width: 20px;
  height: 20px;
  background-color: #66cc66;
  border-radius: 50%;
}