* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --pink: #d658b3;
  --green: #45b442;
  --gray-700: #332b31;
  --gray-600: #4a4448;
  --gray-500: #756c71;
  --gray-400: #d3cfd2;
  --gray-300: #dfdcdf;
  --gray-200: #e9e7e9;
  --gray-100: #f4f1f2;
  --white: #ffffff;
  --font-family: "Oxygen", sans-serif;
  --title-md: bold 24px/140% var(--font-family);
  --title-sm: bold 18px/140% var(--font-family);
  --subtitle-md: bold 14px/140% var(--font-family);
  --subtitle-sm: bold 12px/140% var(--font-family);
  --text-md: 16px/140% var(--font-family);
  --text-sm: 14px/140% var(--font-family);
  --text-xs: 12px/140% var(--font-family);
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: var(--gray-300) var(--gray-100);
  }
}

body {
  font: var(--text-md);
  color: var(--gray-500);
  background-color: var(--gray-200);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: var(--gray-600);
}

.card {
  background-color: var(--gray-100);
  border-radius: 16px;
  border: 1px solid var(--gray-300);
}
